*{box-sizing: border-box;}

table, tr, td {border-collapse: collapse;}
table {width: 100%;}

.img-container {
    position: relative;
    text-align: center;
    color: #ffffff;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 6rem;
    max-height: 18.75rem /* 300px */;
}

.centered-left, .centered-right {position: absolute;bottom: 2rem/* 20px */;}
.centered-left {left: 2rem/*25px*/;}
.centered-right {right: 2rem/*25px*/;}

/* Colours */
.slb-blue,.slb-hover-blue:hover{color:#fff!important;background-color:#003366!important}
.smith-green,.smith-hover-green:hover{color:#fff!important;background-color:#006e38!important}

.t20-ire,
.t20-hover-ire:hover {
    color: #30742D !important;
    background-color: #06215C !important
}

.t20-aus,
.t20-hover-aus:hover {
    color: #0B661E !important;
    background-color: #FFD500 !important
}

.t20-scot,
.t20-hover-scot:hover {
    color: #1D2338 !important;
    background-color: #84A2E1 !important
}

.t20-sa,
.t20-hover-sa:hover {
    color: #0B5425 !important;
    background-color: #F5AB00 !important
}

.t20-wi,
.t20-hover-wi:hover {
    color: #7D1041 !important;
    background-color: #E2DA14 !important
}

.t20-uae,
.t20-hover-uae:hover {
    color: #CE963F !important;
    background-color: #FFFFFF !important
}

.t20-sl,
.t20-hover-sl:hover {
    color: #1B2E96 !important;
    background-color: #FFC500 !important
}

.t20-ban,
.t20-hover-ban:hover {
    color: #00644C !important;
    background-color: #F91A22 !important
}

.t20-nz,
.t20-hover-nz:hover {
    color: #1F1F1F !important;
    background-color: #E8EBED !important
}

.t20-zim,
.t20-hover-zim:hover {
    color: #CD151C !important;
    background-color: #F8B526 !important
}

.t20-pak,
.t20-hover-pak:hover {
    color: #206500 !important;
    background-color: #70E101 !important
}

.t20-ind,
.t20-hover-ind:hover {
    color: #0057AF !important;
    background-color: #FF5500 !important
}

.t20-ned,
.t20-hover-ned:hover {
    color: #EF6C00 !important;
    background-color: #212649 !important
}

.t20-afg,
.t20-hover-afg:hover {
    color: #0954AF !important;
    background-color: #FC0011 !important
}

.t20-nam,
.t20-hover-nam:hover {
    color: #174CC5 !important;
    background-color: #F81D00 !important
}

.t20-eng,
.t20-hover-eng:hover {
    color: #04064D !important;
    background-color: #FE1448 !important
}
